body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

input,
select {
  outline: none;
  border: none;
}

input:focus,
select:focus {
  box-shadow:
    0 0 0 4px rgba(147, 51, 234, 0.2);
}